body {
  overflow-y: scroll;
}
/* * {
  margin: 0;
  padding: 0;
}
html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  margin-right: calc(100% - 100vw);
  padding: 17px;
  text-align: right;
} */